* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #f4f1f1;
  width: 500px;
  height: 600px;
  margin-top: 4%;
  border: 3px solid #000;
  border-radius: 10px;
}

.header {
  background-color: rgb(38, 162, 215);
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}

.header h2 {
  margin-top: 9px;
}

.form {
  display: flex;
  justify-content: center;
}

.form span {
  font-weight: bold;
}

.form input {
  width: 400px;
  height: 25px;
  margin-bottom: 30px;
}

.check-box-container {
}

.check-box {
  background-color: #f9f8f8;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-top: 30px;
}

.img-conten {
  margin-top: 15px;
}

.robot {
  margin-right: 80px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  font-size: 20px;
  color: #fff;
}

.button button:hover {
}
